/* Estilos generales para el carrusel */
.carousel-inner {
    position: relative;
    width: 100%;
    height: 550px;
  }
  
  
  .carousel-item img {
    object-fit: cover; 
    width: 90%; 
    height: 100%; 
    margin-left: auto; 
    margin-right: auto;
  }
  
  .carousel-control-prev, .carousel-control-next {
    filter: invert(100%); 
  }
  

  .carousel-indicators button {
    background-color: #28a745; 
  }
  
  
  .carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #carouselExampleIndicators{
        padding: 10px;
  }


  









  